<body id="student-all">



<%= form_tag({:controller => "students", :action => "index"}, :method => "get") do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<div class="row">

 <% @students.each do |student| %>
 <div class="student-demographic col-md-offset-2 col-md-8">

   <img class="col-sm-4" src="<%= student.image_url %>">
   <div class="student-info col-md-6">
    <span class="name"><%= "#{student.first_name} #{student.last_name}" %></span>
    <span><%= student.identification_number %></span>
    <span><%= student.date_of_birth %></span>
    <address>
     <%= student.street1 %>
     <%= student.city %>, <%= student.state %> <%= student.zip_code %>
   </address>
   <div>
     <span class="counselor">Counselor</span>&nbsp;<%= student.counselor %>
   </div>
   <div>
     <span class="cohort">Cohort</span>&nbsp;<%= student.cohort %>
   </div>
 </div>
</div>
<% end %>
</div>

</body>