
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th> Added Date </th>
      <th> Name</th>
      <th> Mission</th>
      <th> Service Category</th>
      <th class="td-actions"> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @service_providers.each do |service_provider| %>
      <td> <%= service_provider.created_at.strftime("%b-%d-%Y") %></td>
      <td> <%= service_provider.name %></td>
      <td> <%= service_provider.mission %></td>
      <td>
       <% sc = [ ]  %>
       <% service_provider.service_categories.each do |service_category| %>
       <% sc << service_category.name %>
       <% end %>
       <%= sc.join(', ')  %>
     </td>
     <td class="td-actions">
      <a href="<%=user_service_provider_path(@user,service_provider) %>" class="btn btn-xs btn-primary">
        Show
      </a>
    </td>
  </tr>
</tbody>
<% end %>

</table>