
<div class="account-container register stacked">
<section class="content clearfix">

     <h1>Create Your Account</h1>


    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2> Form is invalid </h2>
          <ul>
            <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
            <% end %>
           </ul>
        </div>
        <% end %>


        <div class="field">
        <%= f.label :school %><br>
        <%= f.select 'school_id', options_from_collection_for_select(School.all, :id, :name), {:class=>"form-control", :style => "size: 100px"} %>
        </div>

      <div class="field">
        <%= f.label :user_name %> <br/>
        <%= f.text_field :user_name, :class=>"form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %> <br/>
        <%= f.text_field :email, :class=>"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %> <br/>
        <%= f.password_field :password, :class=>"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %> <br/>
        <%= f.password_field :password_confirmation, :class=>"form-control" %>
      </div>

      <div class="form-actions">
        <%= f.submit %>
      </div>
      <% end  %>

</section>
</div>

