<ul class="nav nav-pills pull-right">
  <li class="active">
    <li> <%= link_to 'Home', user_path(current_user) %></li>
  <li><a href="#">My Profile</a></li>
</ul>

<div class="referral-form">
   <div class="row">
      <h1 class="col-md-offset-2 col-md-8"> Referral Form </h1>
   </div>

   <%= form_for([@user, @referral]) do |f| %>
      <div class="row">
         <div class="form-group col-md-8 col-md-offset-2">

            <%= f.select 'student_id', options_from_collection_for_select(User.find_by_id(session[:user_id]).school.students, :id, :full_name), class: 'form-control ', cols: 10, rows: 5 %>
         </div>
      </div>

      <div class="row">
         <div class="form-group col-md-8 col-md-offset-2">
            <%= f.label 'Comment' %>
            <%= f.text_area 'comment', class: 'form-control ', cols: 10, rows: 5 %>
         </div>
      </div>

      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <h2>Service Proposed</h2>
            <% @service_providers.each do |service_provider|  %>
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="referral[service_provider_ids][]" value="<%= service_provider.id %>">
<!--
                     I want to put .capitalize after each one but because there was empty spaces it didn't work out.  -->

                     <%= service_provider.name %> <br>
                     Mission: <%= service_provider.mission %>
                  </label>
               </div>
            <% end %>
         </div>
      </div>

      <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <%= f.submit class: 'btn btn-primary btn-small' %>
         </div>
      </div>

   <% end %>
</div>

