<%= @user.user_name.capitalize %> from <%= @user.school.name %><br><br>

The referrals that you have are

<div class="referrals">
 <table class="referral-table">
  <% @user.referrals.each do |referral|  %>
    <tr>
      <td><%= referral.student.created_at.strftime("%m/%d/%Y") %>
      <td><%= link_to referral.student.first_name.capitalize + ' ' + referral.student.last_name.capitalize, student_referral_path(referral.student, referral) %></td>
      <td><%= referral.comment.capitalize %></td>
      <% referral.service_providers.each do |service_provider| %>
        <td><%= service_provider.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
</br>
<div>


