<%= @user.user_name.capitalize %> from <%= @user.school.name %><br><br>

The referrals that you have are

<div class="referrals">

 <table class="table table-striped">
  <tr>
    <td> Date</td>
    <td> Student</td>
    <td> Comment</td>
    <td> Resource</td>
  </tr>

  <tr>
    <td><%= @referral.student.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= @referral.student.full_name %></td>
    <td><%= @referral.comment.capitalize %></td>
    <td><% @referral.service_providers.each do |service_provider| %>
      <%= service_provider.name %></td>
      <%end %>
    </tr>

  </table>
  <div>
