
<h2> Service Providers </h2>


<table class="service-providers-list table table-striped">
<tr>
  <th><input type="checkbox" name="select-all"></th>
  <th></th>
</tr>
<% @service_providers.each do |service_provider| %>
<tr>
  <td>
    <input type="checkbox" name="<%= service_provider.name %>">
  </td>
  <td>
   <img src="http://placehold.it/48">
   <p class="name"> Name: <%= service_provider.name %> </p>
   <ul>
   <li>Mission: <%= service_provider.mission %></li>
   <li> Guidance Interventions Targeted:
    <% sc = [ ]  %>
     <% service_provider.service_categories.each do |service_category| %>
     <% sc << service_category.name %>
     <% end %>
     <%= sc.join(', ')  %> </li>
     <li> Date Added: <%= service_provider.created_at.strftime("%Y-%m-%d") %> </li>
     <%= link_to("Show", {:action => 'show', :id => service_provider.id}, :class => 'action show pull-right btn btn-xs btn-primary') %>
   </ul>
   </td>
 </tr>
 <% end %>
</table>

<%= will_paginate @service_providers %>