
<body id="organization-new">

<div>
<h2> Add Service Provider </h2>

    <%= form_tag({:controller => "service_providers", :action => "create"}, :method => "post", :multipart => true) do %>
    <div>

    <%= label_tag :name %>
    <%= text_field(:service_provider, :name) %>
    </div>
    <div>
    <%= label_tag :mission %>
    <%= text_field(:service_provider, :mission) %>
    </div>
    <div>
     <%= label_tag :service_category %>
            <% @service_categories.each do |service_category|  %>
               <div class="checkbox">
                  <label>
                    <%= check_box_tag "service_provider[service_category_ids][]", service_category.id, false, :id => "service_category_id_#{service_category.id}" %>
                     <%= service_category.name.capitalize %>
                  </label>
               </div>
        <% end %>
        </div>

      <%= submit_tag("Service Provider") %>
    <% end %>
  </div>



