<!DOCTYPE html>
<html>
<head>
  <title>Weintervene</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= stylesheet_link_tag    "application", :media => "all" %>
   <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link rel="stylesheet" href="assets/fontawesome.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>
<nav class="navbar navbar" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-cog"></i>
    </button>
  </div>



  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
<%= link_to image_tag("logo-nobakground.png", :alt=> "WeIntervene Logo") , root_url %>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">

      <a href="javscript:;" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-cog"></i>
        Settings
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu" role="menu" aria-labeledby="dropdownMenu">
        <li><a href="./account.html">Account Settings</a></li>
        <li><a href="javascript:;">Privacy Settings</a></li>
        <li class="divider"></li>
        <li><a href="javascript:;">Help</a></li>
      </ul>

    </li> <!-- Content in settings -->

    <li class="dropdown">

      <a href="javscript:;" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
        <%= @user.user_name.capitalize %>
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li><a href="javascript:;">My Profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

    </li>  <!-- Content in User -->
    </ul>  <!--  End /.nav navbar-nav navbar-right -->
  </div><!-- /.navbar-collapse -->
</div> <!-- /.container -->

</nav>  <!-- /.navbar navbar-inverse -->

<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">

      <a href="javascript:;" class="subnav-toggle collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-magic"></i>
        </a>

      <div class="collapse subnav-collapse">
        <ul class="mainnav">

          <li class="dropdown">
            <a href= <%= user_path(@user)%>>
              <i class="fa fa-home"></i>
              <span>Home</span>
            </a>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

              <i class="fa fa-user"></i>
              <span>Students</span>
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <li><a href="<%= user_no_pic_path(@user) %>">Give Reccomendations</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-building-o"></i>
              <span>Service Providers</span>
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <li><a href="<%= new_user_service_provider_path(@user) %>">
                Add Service Provider
              </a></li>
            </ul>
          </li>
          </li>  <!-- dropdown end -->
        </ul> <!--  /.mainnav -->
      </div> <!-- /.subnav-collapse -->
    </div> <!-- /container -->
  </div> <!-- /subnavbar-inner -->
</div> <!-- /subnavbar -->