<!DOCTYPE html>
<html>
<head>
  <title>Weintervene</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= stylesheet_link_tag    "application", :media => "all" %>
   <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link rel="stylesheet" href="assets/fontawesome.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  body {
    padding: 20px
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }
</style>

</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
  <%= link_to image_tag("logo-nobakground.png", :alt=> "WeIntervene Logo") , root_url %>
</nav>

  <div class="container">
    <br>
    <%= yield %>
  </div>
</body>
</html>
