<!DOCTYPE html>
<html>
<head>
  <title>Weintervene</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= stylesheet_link_tag    "application", :media => "all" %>
   <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link rel="stylesheet" >
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>


<nav class="navbar navbar" role="navigation">
  <section class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="icon-cog"></i>
    </button>
  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
<%= link_to image_tag("logo-nobakground.png", :alt=> "WeIntervene Logo") , root_url %>

    <ul class="nav navbar-nav navbar-right">
      <li class="Sign-up">
      <a href="/signup">
        <i class="fa fa-pencil"></i>
        Signup
      </a>
      </li> <!-- Content in settings -->

    <li class="login">
      <a href="/login" >
        <i class="fa fa-user"></i>
        Log In
      </a>

    </li>  <!-- Content in User -->
    </ul>  <!--  End /.nav navbar-nav navbar-right -->
  </div><!-- /.navbar-collapse -->
</section> <!-- /.container -->

</nav>  <!-- /.navbar navbar-inverse -->

<div class="container">
<div class ="container-fluid">
  <div id="myCarousel" class="carousel slide">

<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1" ></li>
  <li data-target="#myCarousel" data-slide-to="2" ></li>
</ol>  <!-- carousel-indicator -->

  <section class="carousel-inner">
    <div class="active item"> <%= image_tag "weintervene_categories.png" %></div>
    <div class="item"> <%= image_tag "carousel/community.gif" %></div>
    <div class="item"> <%= image_tag "carousel/teaching-wordle.png" %></div>
  </section> <!-- carousel-inner -->


<a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> <!-- myCarousel -->
</div>
</div>
</body>


